.login-form-container {
    padding: 3em 1em;
    border: 1px solid #d8d8d8;
    margin: 1.5rem 0 0;
    background-color: white;
}

label {
    text-align: right;
}
.invalid-feedback{
    text-align: right;
    display: block !important;
}