<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>دعوت به وال</title>
</head>
<body>
<table height="40" width="850" align="center" border="0" cellpadding="0" cellspacing="0"
       style="background-color: white">
    <tbody>
    <tr>
        <td width="850" align="right"
            style="direction:rtl;padding:30px 20px 20px 20px;font-size:32px;line-height:36px;font-weight:bold;color:#444444;max-width:300px;overflow:hidden;text-overflow:ellipsis">
            <span>شما به </span>
            <span style="color:#bd081c">سامانه‌ی وال</span>
            <span>دعوت شده‌اید!</span>
        </td>
    </tr>
    </tbody>
</table>
<table width="850" align="center" border="0" cellpadding="0" cellspacing="0"
       style="background-color: white">
    <tbody>
    <tr>
        <td width="850" align="right"
            style="direction:rtl;padding:30px 20px 20px 20px;font-size:16px;line-height:16px;font-weight:bold;color:#444444;max-width:300px;overflow:hidden;text-overflow:ellipsis">
            <span>با ثبت نام از طریق این </span>
            <span>
                <a href="{{ url }}">
                  لینک
                </a>
                </span>
            <span>شما و دوستتان هدیه‌ای از سایت وال دریافت می کنید!</span>
        </td>
    </tr>
    </tbody>
</table>

<table width="850" align="center" border="0" cellpadding="0" cellspacing="0"
       style="background-color: white">
    <tbody>
    <tr>
        <td width="850" align="right"
            style="direction:rtl;padding:30px 20px 60px 20px;font-size:16px;line-height:16px;font-weight:bold;color:#444444;max-width:300px;overflow:hidden;text-overflow:ellipsis">
            <span>همچنین میتوانید با وارد کردن کد</span>
            <span>{{ code }}</span>
            <span> در هنگام ثبتنام هدیه را دریافت کنید.</span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>