@import url(tabs.css);

@font-face {
    font-family: Yekan;
    src: url("../base_static_files/fonts/BYekan.ttf");
}

html {
    overflow-y: auto;
    height: 100vh;
}

body {
    font-family: Yekan !important;
}

a:hover {
    text-decoration: none;
}

#root {
    background: url("../base_static_files/images/background.jpg") no-repeat center fixed;
    background-size: cover;
    min-height: 100vh;
}

.wall-logo {
    color: rgba(255, 255, 255, 0.5);
}

.wall-logo:hover {
    color: rgba(255, 255, 255, 0.75);
}

.content {
    margin-top: 2rem;
    text-align: right;
}

.content .title {
    font-size: 1.25rem;
    display: block;
}

.content .explanation {
    margin-bottom: 3rem;
}

.content .submit {
    float: left;
    margin-right: 1rem;
}

.content .ltr-input {
    direction: ltr;
}

.content .success-message {
    color: #5cb85c;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 1s linear;
}

.content .success-message.hidden {
    visibility: hidden;
    opacity: 0;
}

.product-card {
    text-align: right;
    margin-top: 30px;
}

.product-card .card-title {
    color: black;
}

.product-card .card-body .card-subtitle {
    color: #717171;
}

.product-card .card-body .card-text {
    color: #6B8795;
    height: 4.5rem;
    overflow: hidden;
}

.product-card .product-image-container {
    position: relative;
    height: 21.75rem;
}

.product-card .product-image-container .product-image {
    max-height: 100%;
    max-width: 100%;
}

.product-card .product-image-container .description {
    margin-top: 1rem;
    height: 5rem;
}

label {
    float: right;
    text-align: right;
}

.product-description {
    background-color: white;
    border-radius: 0.25rem;
    position: relative;
    min-height: 30rem;
    padding-top: 1rem;
}

.product-description * {
    text-align: right;
}

.product-description .product-image {
    position: absolute;
    right: 1rem;
    height: 20rem;
    width: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-description .right-side {
    margin-right: 23rem;
    height: 20rem;
}

.product-description .right-side .product-title {
    font-size: 1.5rem;
}

.product-description .right-side .product-address {
    color: #7A788D;
    font-size: 1rem;
    margin: 1rem 0;
}

.product-description .right-side .product-address span {
    color: #FF505D;
}

.product-description .right-side .product-description {
    margin-top: 1rem;
    color: #B8B6C3;
}

.product-description .right-side .product-category {
    color: #7A788D;
}

.product-description .right-side .product-category span {
    color: #30385C;
}

.product-description .bottom-part {
    position: absolute;
    height: 10rem;
    padding: 3rem;
    bottom: 0;
}

.search-panel {
    width: 100%;
    height: 3rem;
    padding: 0.3rem 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.search-panel .full-width {
    width: 100%;
}

.scrollable-menu {
    width: auto;
    min-width: 200px;
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}